
#app {
  width: 100vw;
}

#bottom-banner-ads {
  display: none !important;
}

#dp-container {
  display: none !important;
}

.slick-slide {
  height: 100vh !important;
}

.slick-slide figure {
  height: 100vh !important;
}

div[id*="ads"] {
  /* display: none !important; */
}

.ad-placeholder {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad-placeholder h2,
.ad-placeholder p {
  color: rgba(255, 255, 255, 0.87) !important;
}